
SocketServer/bin/Debug/SocketClient.exe
SocketServer/bin/Debug/SocketClient.exe.config
SocketServer/bin/Debug/SocketClient.pdb
SocketServer/bin/Debug/SocketClient.vshost.exe.config
SocketServer/bin/Debug/SocketClient.vshost.exe.manifest
SocketServer/bin/Debug/SocketServer.exe
SocketServer/bin/Debug/SocketServer.exe.config
SocketServer/bin/Debug/SocketServer.pdb
SocketServer/bin/Debug/SocketServer.vshost.exe
SocketServer/bin/Debug/SocketServer.vshost.exe.config
SocketServer/bin/Debug/SocketServer.vshost.exe.manifest
SocketServer/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
SocketServer/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SocketServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SocketServer/obj/Debug/SocketClient.csproj.FileListAbsolute.txt
SocketServer/obj/Debug/SocketClient.csproj.GenerateResource.Cache
SocketServer/obj/Debug/SocketClient.csprojResolveAssemblyReference.cache
SocketServer/obj/Debug/SocketClient.exe
SocketServer/obj/Debug/SocketClient.Form1.resources
SocketServer/obj/Debug/SocketClient.pdb
SocketServer/obj/Debug/SocketClient.Properties.Resources.resources
SocketServer/obj/Debug/SocketServer.csproj.CoreCompileInputs.cache
SocketServer/obj/Debug/SocketServer.csproj.FileListAbsolute.txt
SocketServer/obj/Debug/SocketServer.csproj.GenerateResource.cache
SocketServer/obj/Debug/SocketServer.csprojAssemblyReference.cache
SocketServer/obj/Debug/SocketServer.exe
SocketServer/obj/Debug/SocketServer.pdb
SocketServer/obj/Debug/SocketServer.Properties.Resources.resources
SocketServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SocketServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SocketServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SocketServer/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
